.descBlock {
  word-wrap: break-word;
  margin: 0 auto;
  margin-right: 50px;
}
.block {
  margin-bottom: 20px;
  font-size: 14px;
}
.numberPhone {
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
}
.mail {
  color: black;
}
